@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
* {
  margin: 0;
}

.display_block {
  display: block;
}

body {
  height: 10002px;
  background-image: url("/img/flowers-4931217.png");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add_category {
  position: fixed;
  z-index: 155;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#add_category .add_category {
  z-index: 155;
  width: 600px;
  height: 450px;
  background: #FFF;
  border-radius: 10px;
}

#add_category .add_category .add_category_text {
  text-align: center;
  padding: 20px 0 0 0;
}

#add_category .add_category .add_category_text span {
  font-size: 17px;
  font-weight: 600;
}

#add_category .add_category .alle_category #category_items {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 30px 0 0 0;
}

#add_category .add_category .alle_category #category_items .category_lis {
  display: grid;
  padding: 20px 0 20px 0;
  cursor: pointer;
}

#add_category .add_category .alle_category #category_items .category_lis span.category_logo {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_category .add_category .alle_category #category_items .category_lis span.category_logo img {
  width: 30px;
}

#add_category .add_category .alle_category #category_items .category_lis .category_text {
  font-size: 15px;
  text-align: center;
  padding: 10px 0 0 0;
  color: #000;
}

#add_category .add_category .alle_category #category_items_2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  padding: 30px 0 0 30px;
}

#add_category .add_category .alle_category #category_items_2 .div_zuruck {
  position: relative;
  width: 40px;
  cursor: pointer;
  border: 1px solid transparent;
}

#add_category .add_category .alle_category #category_items_2 .div_zuruck:hover {
  border: 1px solid #A1A8BD;
}

#add_category .add_category .alle_category #category_items_2 .div_zuruck img {
  width: 100%;
}

#add_category .add_category .alle_category #category_items_2 li {
  padding: 10px;
  display: none;
}

#add_category .add_category .alle_category #category_items_2 li a {
  text-decoration: none;
  color: #0A1331;
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, 1fr));
}

#add_category .add_category .alle_category #category_items_2 li a span:nth-child(2) {
  padding: 0 0 0 10px;
}

.modal {
  display: block;
}

.message {
  display: none;
  color: red;
  padding: 2px 0 0 0;
}

.unlock img {
  cursor: pointer;
}

.form_register form .text_register_form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}

.form_register form .text_register_form .text_register_forms {
  display: flex;
  justify-content: space-around;
  padding: 0 0 10px 0;
  font-size: 24px;
  font-family: 'Alice', serif;
  cursor: pointer;
}

.form_register form .text_register_form .text_register_forms:nth-child(1) {
  border-bottom: 2px solid #22CA46;
}

.form_register form .register_google {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.form_register form .register_google .google_reg {
  width: 50px;
  margin: 20px auto;
}

.form_register form .register_google .google_reg a img {
  width: 100%;
}

.form_register form .input_register {
  display: grid;
  grid-template-columns: repeat(2, 30px 1fr);
  border: 1px solid #A1A8BD;
  border-radius: 5px;
  padding: 5px;
}

.form_register form .input_register .logo_input_register img {
  width: 20px;
  padding: 5px 0 0 0;
}

.form_register form .input_register .password_registers input {
  height: 30px;
  width: 350px;
  border: none;
  outline: none;
}

.form_register form .input_register .unlock {
  width: 20px;
  padding: 2px;
}

.form_register form .input_register .unlock img {
  height: 25px;
  cursor: pointer;
}

.form_register form .unlock_register {
  display: grid;
  grid-template-columns: repeat(3, 30px 1fr 30px);
}

.form_register form .bottom_margin_reg {
  margin: 0 0 20px 0;
}

.form_register form .unlock {
  width: 20px;
  padding: 2px;
  cursor: pointer;
}

.form_register form .unlock img {
  height: 25px;
}

.form_register form .input_submit_register {
  width: 150px;
  margin: 20px auto;
  border-radius: 50px;
  cursor: pointer;
}

.form_register form .input_submit_register input {
  width: 150px;
  height: 35px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background: #22CA46;
}

.form_register_2 {
  display: none;
}

.form_register_2 form .text_register_form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}

.form_register_2 form .text_register_form .text_register_forms {
  display: flex;
  justify-content: space-around;
  padding: 0 0 10px 0;
  font-size: 24px;
  font-family: 'Alice', serif;
  cursor: pointer;
}

.form_register_2 form .text_register_form .text_register_forms:nth-child(1) {
  border-bottom: 0px solid transparent;
}

.form_register_2 form .text_register_form .text_register_forms:nth-child(2) {
  border-bottom: 2px solid #22CA46;
}

.form_register_2 form .register_google {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.form_register_2 form .register_google .google_reg {
  width: 50px;
  margin: 20px auto;
}

.form_register_2 form .register_google .google_reg a img {
  width: 100%;
}

.form_register_2 form .input_register {
  display: grid;
  grid-template-columns: repeat(2, 40px 1fr);
  border: 1px solid #A1A8BD;
  border-radius: 5px;
  padding: 5px;
}

.form_register_2 form .input_register .logo_input_register span {
  line-height: 2.1;
  font-weight: 500;
  font-size: 16px;
  padding: 0 10px 0 0;
}

.form_register_2 form .input_register .logo_input_register img {
  width: 20px;
  padding: 5px 0 0 0;
}

.form_register_2 form .input_register .input_item input {
  height: 30px;
  width: 350px;
  border: none;
  outline: none;
  line-height: 2.1;
  font-weight: 600;
  font-size: 15px;
}

.form_register_2 form .unlock_register {
  display: grid;
  grid-template-columns: repeat(3, 40px 1fr 30px);
}

.form_register_2 form .unlock_register .unlock {
  width: 25px;
}

.form_register_2 form .unlock_register .unlock img {
  width: 25px;
  padding: 2px 0 0 0;
}

.form_register_2 form .checkbox_register {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 20px 0 0 0;
}

.form_register_2 form .checkbox_register .check {
  font-size: 15px;
}

.form_register_2 form .checkbox_register .check span {
  line-height: 1.5;
}

.form_register_2 form .checkbox_register .check span a {
  color: #22CA46;
}

.form_register_2 form .checkbox_register #checkbox_re {
  width: 30px;
  display: flex;
  align-items: center;
}

.form_register_2 form .checkbox_register #checkbox_re input {
  width: 20px;
  font-size: 2rem;
}

.form_register_2 form .bottom_margin_reg {
  margin: 0 0 20px 0;
}

.form_register_2 form .unlocks {
  width: 20px;
  padding: 2px;
  cursor: pointer;
}

.form_register_2 form .unlocks img {
  height: 25px;
}

.form_register_2 form .input_submit_register {
  width: 150px;
  margin: 20px auto;
  border-radius: 50px;
  cursor: pointer;
}

.form_register_2 form .input_submit_register input {
  width: 150px;
  height: 35px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background: #22CA46;
}

li {
  list-style: none;
}

.border {
  border: 1px solid red;
}

.padding_20 {
  padding: 0 20px 0 20px;
}

.container {
  max-width: 1024px;
  position: relative;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background: #FFF;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  height: 50px;
  -webkit-box-shadow: -2px 14px 12px -9px rgba(161, 168, 189, 0.93);
  box-shadow: -2px 14px 12px -9px rgba(161, 168, 189, 0.93);
}

.green_color_body {
  background: #22CA46;
}

.logo_und_menu {
  display: flex;
  align-items: center;
}

.logo_und_menu .logo {
  width: 150px;
}

.logo_und_menu .logo img {
  width: 100%;
}

.register_und_add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #A1A8BD;
  font-weight: 700;
}

.register_und_add .hearth {
  padding: 5px 0 0 0;
}

.register_und_add .hearth:hover {
  border-bottom: 1px solid #22CA46;
}

.register_und_add .hearth span img {
  height: 30px;
}

.register_und_add .register a {
  text-decoration: none;
  color: #A1A8BD;
}

.register_und_add .register .register_item:hover {
  color: #22CA46;
  border-bottom: 1px solid #22CA46;
  cursor: pointer;
}

.register_und_add .add_tovar {
  background: #FF2366;
  padding: 10px 15px;
  border-radius: 10px;
}

.register_und_add .add_tovar:hover {
  background: #22CA46;
  transition-delay: 0.1s;
  cursor: pointer;
}

.register_und_add .add_tovar a {
  text-decoration: none;
}

.register_und_add .add_tovar a span {
  color: #FFF;
}

.selector {
  width: 100%;
  height: 100px;
}

.selector .search {
  padding: 40px 0 0 0;
  width: 90%;
  margin: 0 auto;
}

.selector .search #search_activ {
  font-weight: 700;
  color: #A1A8BD;
  display: grid;
  border-radius: 5px;
  background: #FFF;
  grid-template-columns: 7fr 40px;
}

.selector .search #search_activ #search {
  height: 40px;
  border: none;
  outline: none;
  padding: 0 0 0 20px;
}

.selector .search #search_activ .search_button {
  height: 40px;
  width: 40px;
  background: #F0F2F7;
}

.selector .search #search_activ .search_button span {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.selector .search #search_activ .search_button span img {
  height: 30px;
}

.haupt_category {
  display: flex;
}

.haupt_category .category_item, .haupt_category .category_item_1 {
  font-size: 18px;
  padding: 0 5px 0 0;
  color: #22CA46;
}

.category {
  width: 100%;
  padding: 40px 0 40px 0;
}

.category #category_item {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  padding: 0 0 20px 0;
}

.category #category_item .category_li {
  display: grid;
  grid-template-columns: 1fr;
}

.category #category_item .category_li span.category_logo {
  text-align: center;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category #category_item .category_li span.category_logo img {
  width: 30px;
}

.category #category_item .category_li .category_text {
  font-size: 15px;
  text-align: center;
  padding: 10px 0 0 0;
  color: #FFF;
}

.category .category_menu_klein .category_menu_klein_item {
  padding: 0;
  margin: 0;
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category .category_menu_klein .category_menu_klein_item ul {
  padding: 0;
}

.category .category_menu_klein .category_menu_klein_item ul li {
  padding: 10px 0 10px 15px;
}

.category .category_menu_klein .category_menu_klein_item ul li a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #000;
  font-size: 17px;
  font-family: 'Bitter', serif;
}

.category .category_menu_klein .category_menu_klein_item ul li a span:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: end;
}

.category .category_menu_klein .category_menu_klein_item ul li a span:nth-child(2) div.vier-ecke {
  width: 3px;
  height: 3px;
  position: relative;
  padding: 5px;
}

.category .category_menu_klein .category_menu_klein_item ul li a span:nth-child(2) div.vier-ecke .rotate:nth-child(1) {
  position: absolute;
  border: 1px solid #A1A8BD;
  width: 7px;
  rotate: 45deg;
}

.category .category_menu_klein .category_menu_klein_item ul li a span:nth-child(2) div.vier-ecke .rotate:nth-child(2) {
  position: absolute;
  border: 1px solid #A1A8BD;
  width: 7px;
  rotate: -45deg;
  bottom: 0;
}

.slider {
  padding: 20px 0 20px 0;
}

.slider .slider_item {
  position: relative;
}

.slider .slider_item .classasa img {
  transform: scaleX(-1);
}

.slider .slider_item .letzte_slide {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.slider .slider_item .letzte_slide:hover {
  background-color: rgba(255, 255, 253, 0.5);
}

.slider .slider_item .letzte_slide img {
  width: 40px;
  position: absolute;
  top: 50%;
  transition-delay: 0.1s;
}

.slider .slider_item .nexte_slide {
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.slider .slider_item #slider_fotos {
  padding: 0;
  display: grid;
  height: 400px;
  overflow: hidden;
}

.slider .slider_item #slider_fotos .slider_foto {
  height: 400px;
  overflow: hidden;
}

.slider .slider_item #slider_fotos .slider_foto img {
  width: 100%;
  height: auto;
}

.haupt_text {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 40px 0 40px 0;
}

.haupt_text .haupt_text_item span {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.haupt_text .alle_stadt {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.haupt_text .alle_stadt .stadt {
  color: #22CA46;
}

.haupt_text .alle_stadt .logo_down img {
  width: 20px;
  margin: 0px 0 0 0;
  padding: 0 0 0 5px;
}

.alles_stadte {
  margin: 0 0 50px 0;
}

.alles_stadte .alles_stadte_item ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

.alles_stadte .alles_stadte_item ul li a {
  text-decoration: none;
  color: #4F4F4F;
}

.alles_stadte .alles_stadte_item ul li a:hover {
  color: #22CA46;
}

.alle_producte .alle_proucte_item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.alle_producte .alle_proucte_item .ein_product {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 201px));
}

.alle_producte .alle_proucte_item .ein_product:hover .product_foto img {
  transform: scale(1.05);
  transition: transform .2s;
}

.alle_producte .alle_proucte_item .ein_product a {
  text-decoration: none;
  color: #A1A8BD;
}

.alle_producte .alle_proucte_item .ein_product .product_foto .product_foto_item {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.alle_producte .alle_proucte_item .ein_product .product_foto .product_foto_item img {
  border-radius: 10px;
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
}

.alle_producte .alle_proucte_item .ein_product .price_product .price_product_item {
  font-weight: 700;
  font-size: 20px;
  vertical-align: baseline;
  padding: 10px 0 8px 0;
  color: #000;
}

.alle_producte .alle_proucte_item .ein_product .category_product .category_product_item {
  font-size: 16px;
  color: #737D9B;
}

.alle_producte .alle_proucte_item .ein_product .ordnet_product .ordnet_product_item {
  font-size: 16px;
  padding: 8px 0 8px 0;
  color: #4d4c4a;
}

.alle_producte .alle_proucte_item .ein_product .footer_product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px 0 0 0;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .contact_product {
  cursor: pointer;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .contact_product .contact_product_item {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  padding: 3px;
  background: #F0F2F7;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .contact_product .contact_product_item img {
  width: 100%;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .sms_hearth {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .sms_hearth .sms_item {
  width: 30px;
  height: 30px;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .sms_hearth .sms_item img {
  height: 100%;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .sms_hearth .hearth_item {
  width: 28px;
  height: 28px;
  padding: 0 0 0 20px;
}

.alle_producte .alle_proucte_item .ein_product .footer_product .sms_hearth .hearth_item img {
  width: 100%;
}

.modal_box {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 55;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
}

.modal_box .modal_box_item {
  width: 550px;
  height: 300px;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
}

.modal_box .modal_box_item .close_sms_user .cloes_item {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  margin: 10px 10px;
}

.modal_box .modal_box_item .close_sms_user .cloes_item:hover span {
  border: 2px solid red;
}

.modal_box .modal_box_item .close_sms_user .cloes_item span {
  width: 25px;
  border: 2px solid #A1A8BD;
  position: absolute;
}

.modal_box .modal_box_item .close_sms_user .cloes_item span:nth-child(1) {
  rotate: 45deg;
  bottom: 50%;
}

.modal_box .modal_box_item .close_sms_user .cloes_item span:nth-child(2) {
  rotate: -45deg;
  bottom: 50%;
}

.modal_box .modal_box_item .text_svyaz {
  text-align: center;
  padding: 30px 0 0 0;
}

.modal_box .modal_box_item .text_svyaz span {
  font-size: 23px;
  font-weight: 600;
}

.modal_box .modal_box_item .sms_user {
  width: 400px;
  margin: 35px auto;
  border: 1px solid #A1A8BD;
  border-radius: 10px;
}

.modal_box .modal_box_item .sms_user .sms_input input {
  border-radius: 10px;
  width: 90%;
  outline: none;
  height: 100px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

.modal_box .modal_box_item .user_sms_submit {
  width: 100%;
}

.modal_box .modal_box_item .user_sms_submit input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

.modal_box .modal_box_item .sms_arte {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  text-align: center;
}

.modal_box .modal_box_item .sms_arte .sms_arte_item {
  text-align: center;
  background: #22CA46;
  border-radius: 30px;
  margin: 1px;
  padding: 3px 6px;
  color: #FFF;
}

.modal_box .modal_box_item .sms_arte::-webkit-scrollbar {
  width: 0;
}

.posito {
  width: 100%;
  position: relative;
}

.posito .modal_box_item {
  position: relative;
  background: #FFF;
  border: 1px solid #A1A8BD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.posito .modal_box_item .text_svyaz {
  text-align: center;
  padding: 30px 0 0 0;
}

.posito .modal_box_item .text_svyaz span {
  font-size: 23px;
  font-weight: 600;
}

.posito .modal_box_item .sms_user {
  width: 400px;
}

.posito .modal_box_item .sms_user .sms_input input {
  border-radius: 10px;
  width: 90%;
  outline: none;
  height: 100px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

.posito .modal_box_item .user_sms_submit {
  width: 100%;
}

.posito .modal_box_item .user_sms_submit input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

.posito .modal_box_item .telefon_item_r {
  width: 90%;
  height: 35px;
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  background: #F0F2F7;
  border-radius: 10px;
  padding: 0 0 0 40px;
}

.posito .modal_box_item .telefon_item_r img {
  width: 20px;
  padding: 0 20px 0 0;
}

.posito .modal_box_item .telefon_item_r span a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.posito .modal_box_item .sms_arte {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  text-align: center;
}

.posito .modal_box_item .sms_arte .sms_arte_item {
  text-align: center;
  background: #22CA46;
  border-radius: 30px;
  margin: 1px;
  padding: 3px 6px;
  color: #FFF;
}

.posito .modal_box_item .sms_arte::-webkit-scrollbar {
  width: 0;
}

.sms_input_disabled_false {
  color: #FFF;
  cursor: pointer;
  background: #22CA46;
}

.sms_input_disabled_true {
  background: #F0F2F7;
  cursor: not-allowed;
}

.view_tovar {
  padding: 20px 0 40px 0;
}

.view_tovar .view_tovar_item .menu_zeigen {
  padding: 30px 0 0 0;
}

.view_tovar .view_tovar_item .menu_zeigen ul {
  display: flex;
  padding: 0;
}

.view_tovar .view_tovar_item .menu_zeigen ul li {
  padding: 5px 2px 0 0;
}

.view_tovar .view_tovar_item .menu_zeigen ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.view_tovar_zwei_part {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 {
  border: 2px solid #F0F2F7;
  padding: 0 0 20px 0;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei {
  position: relative;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .foto_full_view_item {
  background: #F0F2F7;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90vh;
  overflow: hidden;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .vier_ecke {
  width: 39px;
  height: 41px;
  position: absolute;
  right: 1%;
  bottom: 15%;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .vier_ecke:hover {
  cursor: pointer;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .vier_ecke:hover span {
  border-top: 2px solid #22CA46;
  border-right: 2px solid #22CA46;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .vier_ecke span {
  width: 16.5px;
  height: 16.5px;
  border-top: 2px solid #A1A8BD;
  border-right: 2px solid #A1A8BD;
  rotate: 90deg;
  position: absolute;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view .vier_ecke span:nth-child(2) {
  rotate: -90deg;
  bottom: 0;
  right: 0;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_full_view img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_mini_view {
  display: flex;
  padding: 20px 0 0 0;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_mini_view .foto_view_mini_item {
  height: 70px;
  width: 100px;
  padding: 0 10px 0 10px;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item1 .foto_view_zwei .foto_mini_view .foto_view_mini_item img {
  width: 100%;
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
}

.view_tovar_zwei_part .foto_modal_img {
  position: fixed;
  z-index: 125;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

.view_tovar_zwei_part .foto_modal_img .foto_modal_img_item {
  background: rgba(0, 0, 0, 0.9);
}

.view_tovar_zwei_part .foto_modal_img .foto_full_views .foto_full_view_item {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

.view_tovar_zwei_part .foto_modal_img .foto_full_views img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: contain;
}

.view_tovar_zwei_part .foto_modal_img .foto_mini_view {
  display: grid;
  justify-content: center;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
}

.view_tovar_zwei_part .foto_modal_img .foto_mini_view .foto_view_mini_item {
  padding: 20px 0 0 5px;
}

.view_tovar_zwei_part .foto_modal_img .foto_mini_view .foto_view_mini_item img {
  width: 80%;
  /* Ширина изображений */
  height: 80%;
  /* Высота изображении */
  object-fit: cover;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 {
  border: 1px solid #A1A8BD;
  border-radius: 10px;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 .price_tovar_view {
  height: 70px;
  display: flex;
  align-items: center;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 .price_tovar_view span {
  font-size: 22px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #A1A8BD;
  font-weight: 700;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 .user_data {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 .user_data .user_avatar {
  display: flex;
  justify-content: space-around;
}

.view_tovar_zwei_part .view_tovar_zwei_part_item2 .user_data .user_name {
  padding: 50px 0 0 0;
}

a {
  color: white;
  text-decoration: none;
}

.add_tovar_span {
  font-size: 23px;
  line-height: 5;
}

.add_tovar_span span {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.add_tovar_form #form_gap {
  display: grid;
  gap: 40px 0;
}

.add_tovar_form .foto_form {
  height: auto;
  display: grid;
  gap: 25px;
}

.add_tovar_form .foto_form .foto_30 {
  font-weight: 700;
  font-size: 17px;
}

.add_tovar_form .foto_form .foto_30 span span {
  color: red;
}

.add_tovar_form .foto_form .foto_30 span span span {
  color: #A1A8BD;
  font-size: 15px;
  font-weight: 500;
}

.add_tovar_form .foto_form .category select {
  appearance: none;
  border: 1px solid #A1A8BD;
  padding: 10px 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.add_tovar_form .foto_form .category .select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0;
  font-size: 1.10rem;
  cursor: pointer;
  line-height: 1.1;
  font-family: 'EB Garamond', serif;
}

.add_tovar_form .foto_form .category .select #standard-select {
  padding: 10px 0 10px 15px;
}

.add_tovar_form .foto_form .decoration textarea {
  outline: none;
  resize: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
  width: 70%;
  height: 20vh;
}

.add_tovar_form .foto_form .decoration textarea:focus {
  border: 2px solid #22CA46;
}

.add_tovar_form .foto_form .foto_forms {
  width: 250px;
  height: 230px;
  background: #F0F2F7;
  border-radius: 10px;
}

.add_tovar_form .foto_form .foto_forms .logo_foto {
  width: 40px;
  padding: 60px 50% 0 40%;
}

.add_tovar_form .foto_form .foto_forms .logo_foto img {
  width: 100%;
}

.add_tovar_form .foto_form .foto_forms .add_text_foto {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
}

.add_tovar_form .foto_form .foto_forms .add_text_foto span {
  font-weight: 100;
}

.add_tovar_form .foto_form .foto_forms .hauot_text {
  text-align: center;
}

.add_tovar_form .foto_form .category {
  padding: 0;
}

.add_tovar_form .foto_form .nummer {
  display: grid;
  grid-template-columns: repeat(2, 60px 1fr);
  border: 1px solid #A1A8BD;
  width: 255px;
  padding: 0 0 0 10px;
  border-radius: 10px;
}

.add_tovar_form .foto_form .nummer .code_nummer {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.add_tovar_form .foto_form .nummer .code_nummer .code_img_nummer {
  width: 15px;
  padding: 0 5px 0 0;
}

.add_tovar_form .foto_form .nummer .code_nummer .code_img_nummer img {
  width: 100%;
}

.add_tovar_form .foto_form .nummer .nummer_item input {
  width: 160px;
  border: none;
}

.add_tovar_form .foto_form .category_button {
  width: 100px;
  height: 20px;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid #22CA46;
  cursor: pointer;
}

.add_tovar_form .foto_form .category_button:hover {
  background: #E7F9EB;
}

.add_tovar_form .foto_form .category_button span {
  padding: 0;
  color: #22CA46;
}

.add_tovar_form .foto_form .price input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #A1A8BD;
  padding: 0 0 0 15px;
  outline: none;
}

.add_tovar_form .submit_forms input {
  width: 180px;
  background: #22CA46;
  outline: none;
  border: none;
  padding: 15px 8px;
  border-radius: 50px;
  font-size: 18px;
  color: #FFF;
  font-family: 'EB Garamond', serif;
}

.clock {
  width: 50px;
  border: 2px solid red;
  position: absolute;
}
